// colors
$primary-color: #4188f7;
$danger-color: #e74c3c;
$gray-dark: #616161;
$gray-light: #e7e7e7;
$white-light: #fafafa;
$black-light: rgba(0, 0, 0, 0.8);
$success-color: #3ebd93;

$info-color: #1992d4;

$warning-color: de911d;

// fonts name & wegiht
$font-Cairo: "Cairo", sans-serif;
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
